:root {
    --font-color : #eee;
    --color1 : #393E46;
    --color2: #222831;
}

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: var(--color1);
}

header {
    background-color: var(--color2);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    position: sticky;
    top:0;
}

.logo {
    font-size: 2em;
    color: var(--font-color);
}

.showmodal {
    cursor: pointer;
    text-align: center;
    color: var(--font-color);
    font-size: 3.5em;
}

footer {
    margin-top: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 250px;
    padding: 10px;
    background-color: var(--font-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    border-radius: 10px;
    color: var(--color2);
}

.modalcontainer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
}



.modal {
    

    background-color: var(--font-color);
    border-radius: 10px;
    position: absolute;
    width: 250px;
    height: 300px;
    padding: 10px;
    top: 50%;
    left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
}

.modalform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.newbook {
    font-size: 1.4em;
    text-align: center;
}

.readbtn,.notreadbtn,.removebtn {
    cursor: pointer;
    width: 80%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.readbtn:hover,.notreadbtn:hover,.removebtn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.readbtn {
    background-color: rgba(55, 255, 55, 0.808);
}

.notreadbtn {
    background-color: rgba(248, 43, 43, 0.829);
}

.removebtn {
    border: 2px solid var(--color2);
}





